@import "tailwindcss";



body {
  background-color: #021425;
}

.App {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
}

h1 {
  color: rgb(120, 226, 212);
}

h3 {
  color: white;
}

p {
  color: white;
}

a{
  color: white;
}

@media (max-width:640px) {
  .App {
    width: 100dvw;
  }
  
}

